

.review-form{
    display:flex;
    flex-direction: column;
}

.review-form-section{
    background-color: rgb(44, 42, 51);
    padding: 2rem;
    border-radius: 12px;
}

.review-header {
    text-align:center
}

.review-container{
    display:flex;
    flex-direction: column;
}
